<div class=" col-md-6 search-hero search-input-wrapper fadeInUp hidden-md hidden-lg">
  <label for="search"></label>
  <input class="form-control" type="text" name="search" id="search" [(ngModel)]="searchText" (input)="getAllPosts()" autocomplete="off" placeholder="   Search by Title or Content">
  <div class="search-button"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <circle cx="11" cy="11" r="8"></circle>
          <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
      </svg></div>
</div>

<div class="col-md-6">
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      {{selectedCategory}}
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a (click)="filterByCategory(0)" class="dropdown-item">All Categories</a>
      <a (click)="filterByCategory(cat.id, cat.name)" *ngFor="let cat of categories" class="dropdown-item">{{cat.name}}</a>
    </div>
  </div>
</div>
<br>
<ng-container *ngFor="let post of allPosts">
  <div style="cursor: pointer;" routerLink="/comments/{{post.id}}" class="card">
    <div class="card-header">
      <b>{{post.title}}</b>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-7">
          <div class="item">
            <img class="card-img-top" [src]="post.filePath" alt="Card image cap">
          </div>
        </div>
        <div class="col-md-5 text-centered">
          {{post.content}}
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 pull-left">{{post.user?.userName}}</div>
        <div style = "text-align: right;" class="col-md-6 pull-right">{{post.createTime | date: 'short'}}</div>
      </div>
    </div>

  </div>
  <br>
</ng-container>

<!-- <div class="card">
  <div class="card-body">
    This is some text within a card body.
  </div>
</div> -->

<!-- <table >
  <tr *ngFor="let post of allPosts">
    <td (click)="populateForm(post)"> <a style="color: rgb(103, 15, 153); font-size: large; font-weight: bolder;font: outline;"> {{post?.title?.toUpperCase().charAt(0)}}</a>   - {{post.title}} </td>
    <td>{{post.Content}}</td>
    <td>{{post.DateTime}}</td>
    <td>{{post.UpdateTime}}</td>
    <td>{{post.UserID}}</td>
    <td><button class="btn btn-sm btn-outline-danger" (click)="viewPost(post)"> View </button> </td>
    <td><button class="btn btn-sm btn-outline-danger" (click)="removePost(post)">X </button> </td>
  </tr>
</table> -->